@import 'assets/styles/mixins/animation';
@import 'assets/styles/mixins/text-truncate';

.txtContainer {
  width: 100%;
  height: 50px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #f2f3f4;
  box-sizing: border-box;
}

.tcTxt {
  @include m-truncation;
  flex: 1;
  height: 30px;
  line-height: 30px;
}

.tcBtn {
  width: 100px;
  height: 30px;
}

.flash {
  @include m-anim-flash();
}

.fadeIn {
  @include  m-anim-fade-in();
}

.bounceIn {
  @include m-anim-bounce-in();
}

.blurIn{
  @include m-anim-blur-in();
}

.flipxIn{
  @include m-anim-flipx-in((
    duration: 3s
  ));
}

.rubber{
  @include m-anim-rubber((
    duration: 3s
  ));
}

.newspaper{
  @include m-anim-newspaper()
}

.tada{
  @include m-anim-tada()
}

.foolishOut{
  @include m-anim-foolish-out()
}
