@charset "UTF-8";

//// text
/// single line text truncation
/// @param $type [ellipsis]
@mixin m-truncation($type: ellipsis) {
  overflow: hidden;
  text-overflow: $type;
  white-space: nowrap;
}

/// multi line text truncation(ellipsis)
/// @param $lineCount [3]
@mixin m-line-clamp-ellipsis($lineCount: 3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: $lineCount;
  -webkit-box-orient: vertical;
}

/// multi line text truncation with fade
/// @param $lineCount
/// @param $lineHeight
/// @param $fadeWidth
/// @param {Color} $color [#fff]
@mixin m-line-clamp-fade(
  $lineCount: 3,
  $lineHeight: 1.2em,
  $fadeWidth: 70%,
  $color: #fff
) {
  position: relative;
  height: $lineCount * $lineHeight;
  overflow: hidden;
  line-height: $lineHeight;
  &:after {
    content: '';
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: $fadeWidth;
    height: $lineHeight;
    background: linear-gradient(to right, rgba($color, 0), rgba($color, 1) 50%);
  }
}
